
#**********************************************************
#           LSF 10.1 INSTALL.CONFIG FILE
#**********************************************************
#
# Name:     install.config
#
# Purpose:  LSF installation options
#
# $Id$
#
# File Format:
#    o  Options (without # sign) can only appear once in the file.
#    o  Blank lines and lines starting with a pound sign (#) are ignored.
#
# Option Format:
#    o  Each disabled example looks like this:
#       # -----------------
#       # LSF_OPTION_NAME="EXAMPLE_VALUE"
#       # -----------------
#
#    o  An enabled option looks like this:
#       # -----------------
#       LSF_OPTION_NAME="ACTUAL_VALUE"
#       # -----------------
#
# Instructions:
#    1. Edit install.config to specify the options for
#       your cluster. Uncomment the options you want and
#       replace the EXAMPLE values with your own settings.
#       Note that the sample values shown in this template
#       are EXAMPLES only. They are not always the default
#       installation values.
#
#    2. Run ./lsfinstall -f install.config
#
#
#**********************************************************
#           PART 1: REQUIRED PARAMETERS
#     (During an upgrade, specify the existing value.)
#**********************************************************
# -----------------
LSF_TOP="/usr/share/lsf"
# -----------------
# Full path to the top-level installation directory {REQUIRED}
#
# The path to LSF_TOP must be shared and accessible to all hosts
# in the cluster. It cannot be the root directory (/).
# The file system containing LSF_TOP must have enough disk space for
# all host types (approximately 300 MB per host type).
#
# -----------------
LSF_ADMINS="eae"
# -----------------
# List of LSF administrators {REQUIRED}
#
# The first user account name in the list is the primary LSF
# administrator. It cannot be the root user account.
# Typically, this account is named lsfadmin.
# It owns the LSF configuration files and log files for job events.
# It also has permission to reconfigure LSF and to control batch
# jobs submitted by other users. It typically does not have
# authority to start LSF daemons. Usually, only root has
# permission to start LSF daemons.
# All the LSF administrator accounts must exist on all hosts in the
# cluster before you install LSF.
# Secondary LSF administrators are optional.
#
# -----------------
LSF_CLUSTER_NAME="clusterLSF"
# -----------------
# Name of the LSF cluster {REQUIRED}
#
# It must be 39 characters or less, and cannot contain any
# white spaces. Do not use the name of any host, user, or user group
# as the name of your cluster.
#
#
#**********************************************************
#          PART 2: PRIMARY PARAMETERS FOR NEW INSTALL
#  (These parameters are ignored if they are already defined in the cluster.)
#**********************************************************
#
# -----------------
LSF_MASTER_LIST="interfaceeae"
# -----------------
# List of LSF server hosts to be master or master candidate in the
# cluster {REQUIRED when you install for the first time or during
# upgrade if the parameter does not already exist.}
#
# You must specify at least one valid server host to start the
# cluster. The first host listed is the LSF master host.
#
# -----------------
LSF_TARDIR="/usr/share/lsf_distrib/"
# -----------------
# Full path to the directory containing the LSF distribution tar files.
#
# Default: Parent directory of the current working directory.
#          For example, if lsfinstall is running under
#          /usr/share/lsf_distrib/lsf_lsfinstall
#          the LSF_TARDIR default value is
#          /usr/share/lsf_distrib
#
# -----------------
# CONFIGURATION_TEMPLATE="DEFAULT|PARALLEL|HIGH_THROUGHPUT"
# -----------------
# Select a configuration template for this installation.
#
# For LSF Suite for Workgroups and LSF Suite for HPC only. This option is ignored when installing
# other editions of LSF.
#
# The keywords "DEFAULT", "PARALLEL", and "HIGH_THROUGHPUT" are valid values
# for this parameter, and determine the initial LSF configuration parameters
# specified when the installation is complete.
#
# DEFAULT:
# 
# This template should be used for clusters with mixed workload. This
# configuration can serve different types of workload with good performance,
# but is not specifically tuned for a particular type of cluster.
# 
# PARALLEL:
# 
# This template provides extra support for large parallel jobs. This
# configuration is designed for long running parallel jobs, and should not be
# used for clusters that mainly run short jobs due to the longer reporting time
# for each job. 
# 
# HIGH_THROUGHPUT: 
# 
# This template is designed to be used for clusters that mainly run short jobs, 
# where over 80% of jobs finish within one minute. This high turnover rate
# requires LSF to be more responsive and fast acting. However, this 
# configuration will consume more resources as the daemons become busier. 
#
# Default: DEFAULT template is used.
#
#**********************************************************
#              PART 3: OPTIONAL PARAMETERS
#         (Check default values before installing.)
#**********************************************************
#
# -----------------
# LSF_ADD_SERVERS="hostm hosta hostb hostc"
# -----------------
# List of additional LSF server hosts
#
# The hosts in LSF_MASTER_LIST are always LSF servers. You can specify
# additional server hosts.
# Specify a list of host names two ways:
# o  Host names separated by spaces
# o  Name of a file containing a list of host names, one host per line. 
#     For example:
#        LSF_ADD_SERVERS=:lsf_server_hosts
#     The file lsf_server_hosts contains:
#        hostm
#        hosta
#        hostb
#        hostc
#
# Default: All hosts in LSF_MASTER_LIST.
#
# -----------------
 LSF_ADD_CLIENTS="worker1 worker2 workerspark"
# -----------------
# List of LSF client-only hosts.
#
# Specify a list of host names two ways:
# o  Host names separated by spaces
# o  Name of a file containing a list of host names, one host per line.
#     For example:
#        LSF_ADD_CLIENTS=:lsf_client_hosts
#     The file lsf_client_hosts contains:
#        hoste
#        hostf
#
# Default: No client hosts installed.
#
# After you install: Manually edit the lsf.cluster.clustername file to
# include the model and type of each client listed in LSF_ADD_CLIENTS.
#
# -----------------
# ENABLE_STREAM="Y"
# -----------------
#
# Enables LSF event streaming. Enable this feature if you intend to
# install Spectrum Analytics or Spectrum Application Center.
#
# Default: Event streaming is disabled.
#
# -----------------
LSF_QUIET_INST="Y"
# -----------------
# Enables quiet installation.
#
# Set the value to "Y" if you want to hide the LSF installation
# messages.
#
# Default: Installer displays messages during installation.
# 
#**********************************************************
# PART 4: PATCH INSTALL RELATED PARAMETERS
#**********************************************************
#
# -----------------
# PATCH_BACKUP_DIR="/usr/share/lsf/patch/backup"
# -----------------
# Full path to the patch backup directory.
#
# The file system containing the patch backup directory must have
# sufficient disk space to back up your files (approximately 400 MB
# per binary type if you want to be able to install and roll back one
# enhancement pack and a few additional fixes). It cannot be the root
# directory (/).
# If the directory already exists, it must be writeable by the cluster
# administrator (lsfadmin).
# If you need to change the directory after installation, edit
# PATCH_BACKUP_DIR in LSF_TOP/patch.conf and move the saved backup
# files to the new directory manually.
#
# Default: LSF_TOP/patch/backup
#
# -----------------
# PATCH_HISTORY_DIR="/usr/share/lsf/patch"
# -----------------
# Full path to the patch history directory.
#
# It cannot be the root directory (/). If the directory already
# exists, it must be writeable by the cluster administrator
# (lsfadmin).
# The location is saved as PATCH_HISTORY_DIR in LSF_TOP/patch.conf. Do
# not change the directory after installation.
#
# Default: LSF_TOP/patch
#
#**********************************************************
# PART 5: FEATURES MAINTAINED FOR BACKWARDS COMPATIBILITY
#        (Not recommended for new installations.)
#**********************************************************
#
# -----------------
# UNIFORM_DIRECTORY_PATH="/usr/local/lsf"
# -----------------
# Local directory for the root of the path to the machine-dependent
# LSF files {ignored during upgrade}.
#
# Uniform directory path is maintained for backwards compatibility
# with LSF. It is not recommended for a new installation.
# The path must be an absolute path to a local directory and not
# shared. It cannot be the root directory (/).
#
# Default: Uniform directory path is not used.
#
# After you install: Run hostsetup on each host to set up
# UNIFORM_DIRECTORY_PATH.
#
#
#**********************************************************
# PART 6: SILENT INSTALL 
#
#**********************************************************
# 
# -----------------
SILENT_INSTALL="Y"
# -----------------
# Enables silent LSF installation.
#
# Set the value to "Y" to enable the silent install and to agree to the 
# IBM Spectrum LSF end user license agreement.
#
# Default: LSF silent install is disabled.
#
# -----------------
LSF_SILENT_INSTALL_TARLIST="all"
# -----------------
# List of silent install package names.
#
# The keywords "all", "All" and "ALL" can be used to install all packages 
# under the LSF_TARDIR dir.
# 
# Default: This list is not used.
#
#**********************************************************
# PART 7: PAREMETER TO TURN ON EGO AND DYNAMIC ADD HOSTS
#
#**********************************************************
#
# -----------------
# ENABLE_EGO="N"
# -----------------
# Enables EGO in LSF. The following features depend on EGO:
# - EGO daemon control 
# - EGO-enabled SLA 
#
# Set the value to "Y" if you want to enable EGO and its feature set. 
# 
# Default: Disable EGO.
#
# -----------------
# EGO_DAEMON_CONTROL="N"
# -----------------
# Enables EGO to control LSF res and sbatchd.
#
# This setting takes effect whenever EGO is enabled in the cluster. 
#
# Set the value to "Y" if you want EGO Service Controller to start res
# and sbatchd, and restart if they fail.
#
# Default: res and sbatchd are started manually.
#
# -----------------
# ENABLE_DYNAMIC_HOSTS="N"
# -----------------
# Enables dynamically adding and removing hosts.
#
# Set the value to "Y" if you want to allow dynamically added hosts.
# If you enable dynamic hosts, any host can connect to the cluster. To
# enable security, configure LSF_HOST_ADDR_RANGE in
# lsf.cluster.cluster_name after installation and restrict the hosts
# that can connect to your cluster.
#
# Default: Dynamic hosts are not allowed.
#
# -----------------
# LSF_DYNAMIC_HOST_WAIT_TIME="60"
# -----------------
# Time in seconds slave LIM waits after startup before calling
# master LIM to add the slave host dynamically.
#
# This parameter is ignored unless you set ENABLE_DYNAMIC_HOSTS="Y" in
# this file.
# If slave LIM receives the master announcement while it is waiting,
# it does not call the master LIM to add itself.
# Recommended value: 60 seconds for every 1000 hosts.
#
# Default: Slave LIM waits forever.
#
#**********************************************************
#                      END OF FILE
#**********************************************************
# $Id$
